.Card {
    width: 80%;
    margin: 1%;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 2px 10px #27262b;
}

.Card h3 {
    text-align: center;
    text-transform: uppercase;
    background-color: burlywood;
    border: 1px solid midnightblue;
}

.Card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    padding: 0;
}

.Card p {
    text-align: justify;
    padding: 1%;
}

@media screen and (min-width: 748px) {
    .Card {
        width: 25%;
    }
}




@media screen and (min-width: 1280px) {
    .Card {
        width: 15%;
        transform: scale(1);
    }

    .Card:hover {
        transform: scale(1.1);
    }
}