@font-face {
    font-family: "Great";
    src: url("./assets/fonts/Great-Wishes.otf");
}
@font-face {
    font-family: "Chocolate";
    src: url("./assets/fonts/coolvetica.ttf");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
	width: 20%;
	height: auto;
}

.Film {
	display: flex;
	flex-wrap: wrap;
}

.Film h2 {
	width: 100%;
}

article {
	background-color: #3aa0ff79;
	width: 30%;
	margin: 1%;
	padding: 0.5%
}

#inputSearch {
    border: none;
    width: 100%;
    padding: 1rem;
}

#inputSearch:focus {
    outline: none;
}

body {
    /* font-family: "Chocolate"; */
    font-size: 1.5em;
    background-image: url(./assets/img/white.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    font-family: "Great";
    background-image: url(./assets/img/background.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 5px grey;
}

h1 {
    color: gold;
    padding: 100px;
    font-size: 4em;
    text-align: center;
    margin: 0;
}